{% extends "dummy.html" %}

{% block title %}
    <title>Secretary</title>
    {% endblock %}


    {% block body_block %}
    <h1>SECRETARY</h1>
    <hr style=" border:1px solid #045174; width:5%;">
    <div > 
        <i class="fa-solid fa-location-dot" style="margin-right: 30px;">  Hyderabad, Telangana, India</i>
        
        <i class="fa-regular fa-clock">  136 days ago</i></div>

    <section class="secretary " style="width: 70%;" >
        <h2 align="left">Description</h2>
        <p align="left">This is one of the areas you can use for adding a job description to your website. You can edit all of this text and replace it with anything you want to advertise about the jobs being offered by you and your company. Edit your Jobs page from the Pages tab by clicking the edit button.</p>
        <br>
        <h2 align="left">Requirements</h2>
        <p align="left">A personal secretary, also known as an executive secretary or personal assistant, is an administrative professional who provides personalized support to an individual, typically a high-level executive or a person of prominence, such as a business leader, politician, or celebrity. The role of a personal secretary is crucial in ensuring the smooth functioning of their employer's professional and often personal affairs. Here are some of the key responsibilities and duties of a personal secretary:</p>
        <ol>
            <li><b>Scheduling and Calendar Management:</b>
                 Managing the employer's schedule, appointments, and meetings. This includes arranging meetings, organizing conference calls, and handling invitations.</li>
            <li><b>Communication Management:</b> Handling phone calls, emails, and other forms of communication on behalf of the employer. Drafting and responding to correspondence as needed.</li>
            <li><b>Travel Arrangements:</b> Coordinating travel plans, including booking flights, hotels, and transportation, and preparing travel itineraries.</li>
            <li><b>Document Preparation:</b> Assisting with the creation, formatting, and proofreading of documents, reports, and presentations.</li>
            <li><b>Data and File Management:</b> Organizing and maintaining files, records, and documents in both physical and digital formats.</li>
            
        </ol>
        
        <h2 align="left" style="margin-top: 300px;">Bonuses</h2>
        <p>
            This is one of the areas you can use for adding job bonuses to your website. You can edit all of this text and replace it with anything you want to advertise about the jobs being offered by you and your company. Edit your Jobs page from the Pages tab by clicking the edit button.</p>
    
        <h2 align="left">Benefits</h2>
        <p>
            This is one of the areas you can use for adding job benefits to your website. You can edit all of this text and replace it with anything you want to advertise about the jobs being offered by you and your company. Edit your Jobs page from the Pages tab by clicking the edit button.</p>
    
        <h2 align="left">Responsibilities</h2>
        <p>
            This is one of the areas you can use for adding job responsibilities to your website. You can edit all of this text and replace it with anything you want to advertise about the jobs being offered by you and your company. Edit your Jobs page from the Pages tab by clicking the edit button.</p>
        
        <a href="{% url 'apply' %}"><h1 align="left"><button type="button" class="btn btn-lg " style="background-color: #1D6282; color:white;">APPLY NOW</button></h1></a>
        
        </section>
{% endblock %}
