{% extends "dummy.html" %}

{% block title %}
    <title>tq</title>
    <style>
        .a
        {
            background-color: black;
            height: 600px;
            width: 1300px;
        }
        .b{
            font-size: 40px;
            font-weight: 500px;
            color: white;
            position: relative;
            top: 200px;

        }
    </style>
    {% endblock %}


    {% block body_block %}
<div class="a">
    <center class="b">THANK YOU FOR CONTACT US ! WE WILL REACH YOU SOON ......! </center>
</div>
    {% endblock %}